body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
   
   
}

.container{

    display: grid;
   justify-content: center;
   align-items: center;
    height:80vh;
 
}
.wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    rotate: 270deg;
}
img{
    rotate: 90deg;   
}



.mid
{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333;
}
.hour{
    position: absolute ;
    margin-left: 110px;
    transform: rotate(60deg);
    transform-origin:0%;
    width: 100px;
    height: 5px;
    background-color: #333;
    
   
  
}
.minute{
    position: absolute ;
    margin-left: 100px;
    transform: rotate(270deg);
    transform-origin: 25%;
    width: 200px;
    height: 8px;
    background-color: #333;
    opacity: 0.8;
  
}
.seconds{
    position: absolute ;
    margin-left: 90px;
    transform: rotate(120deg);
    transform-origin: 35%;
    width: 300px;
    height: 2px;
    background-color: #333;
    opacity: 0.8;
 
}
.time
{
    text-align: center;
    margin-top: -100px;
}

@media(max-width: 486px){

    img{
        width: 350px;
        height: 350px;  
    }
    .hour{
        position: absolute ;
        margin-left: 40px;
        transform: rotate(60deg);
        transform-origin:0%;
        width: 60px;
        height: 5px;
        background-color: #333;
        
       
      
    }
    .minute{
        position: absolute ;
        margin-left: 50px;
        transform: rotate(270deg);
        transform-origin: 25%;
        width: 100px;
        height: 8px;
        background-color: #333;
        opacity: 0.8;
      
    }
    .seconds{
        position: absolute ;
        margin-left: 40px;
        transform: rotate(120deg);
        transform-origin: 35%;
        width: 140px;
        height: 2px;
        background-color: #333;
        opacity: 0.8;
     
    }
   

    
    
}